    header{
        background-color:black;
        text-align: center;
        }
    
    main{
        background-color:black;  
        }
    .img{
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 800px;
    }
 